.bg-blue{
    background-color: #3b5998;
}
.bg-post{
    background-color:#f5f5f5;    
}
body{
    background-color:#e9eaed;            
}
.rounded-bottom, .card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.text-blue{
    color: #3b5998;
}
#logoImg{
    color:white;
}